@import"./scss/base/variables";
@import"./scss/base/extends";
@import"./scss/base/mapas";
@import"./scss/base/listas";
@import"./scss/base/mixin";
@import"./scss/componentes/index";
@import"./scss/componentes/contacto";
@import"./scss/componentes/micuenta";
@import"./scss/componentes/tienda";


/* !!! RESETS !!! */

* {
    padding: 0;
    margin: 0;
}

/* !!! HEADER !!! */

.logo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.2rem;
}

.logo2 {
    display: flex;
    border: 0.5px solid black;
    border-radius: 50%;
    flex-wrap: wrap;
    margin-left: 7.5rem;
}

header{
    background-color: map-get($header, bg-color);
    padding-top: map-get($header, pad);
    padding-bottom: map-get($header, pad);
    width: map-get($header, ancho);
    height: map-get($header, alto);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: map-get($header, centrar-elementos);
    border-bottom: 0.1rem solid white;
    box-sizing: unset;
    li {
        display: inline;
        margin-right: 1.2rem;
        a{
            color: white;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
        }
    }
 }

body div#clicklogo img:hover {
    display: flex;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #0294f5c5, 0 0 10px 2px #0dbff598, 0 0 10px 2px #05a5fb96, 0 0 10px 2px #2df9fd98;
    transition: all 200ms;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

/* !!! FONDOS !!! */

.dfondo {
    background-image: url(../images/fondo5.jpg);
    @extend %fondoProps;
}

.dfondo2 {
    background-image: url(../images/fondocf.jpg);
    @extend %fondoProps;
}

.dfondo3 {
    background-image: url(../images/fondo6.jpg);
    @extend %fondoProps;
}

/* !!! ELEMENTOS FIJOS !!! */

.logowp {
    font-size: 3rem;
    color: rgb(77, 240, 45);
    right: 2rem;
    bottom: 1rem;
    position: fixed;
} 


.logoig {
    bottom: 1rem;
    right: 6rem;
    position: fixed;
}

div > i.logowp:hover,
div > a:hover > img.logoig{
    transform: scale(110%);
    cursor: pointer;
}

// FOOTER BS

.footergeneral{
    @include bsfooter($bg-negro, $borde, $colorletra);
}

// OTROS


.flxLinea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flxColumna {
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERYS */

@media screen and (max-width: 1600px){
    .tienda-section{
        width: 90%;
    }
}

@media screen and (max-width: 1400px){
    .tienda-section{
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {

    .tienda-section{
        width: 100%;
        margin: 0;
    }

    header {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .logo {
        width: 20rem;
        height: auto;
        margin-bottom: 1rem;
    }

    .logo2 {
        display: none;
    }

    .producto__imagen {
        width: 15.75rem;
    }

    .producto__desc {
        width: 15.75rem;
    }
    
    .cLogin{
        margin: 20% auto;
    }

}

@media screen and (max-width: 992px) {

    .tienda-section{
        width: 100%;
        margin: 0;
    }

    header {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .logo {
        width: 20rem;
        height: auto;
        margin-bottom: 1rem;
    }

    .logo2 {
        display: none;
    }

    .producto__imagen {
        width: 12.75rem;
    }

    .producto__desc {
        width: 12.75rem;
    }

    .eTitulo h1 {
        font-size: 1.9rem;
    }

    .eTexto a {
        font-size: 1rem;
    }

    .hletra li a {
        font-size: 1.1rem;
    }

    .flxLinea {
        flex-wrap: wrap-reverse;
    }

    .cLogin{
        margin: 30% auto;
    }

}

@media screen and (max-width: 768px) {

    .tienda-section{
        width: 100%;
        margin: 0;
    }

    iframe#iIndex{
        width: 290px;
        height: 414px;
    } 

    header {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .logo2 {
        display: none;
    }

    .producto__titulo {
        font-size: 1.1rem;
    }

    .producto__cbtn {
        font-size: 0.8rem;
    }

    .eTitulo h1 {
        font-size: 1.8rem;
    }

    .eTexto a {
        font-size: 0.8rem;
    }

    .hletra li a {
        font-size: 1rem;
    }

    iframe#mapa{
        width: 451px;
        height: 338px;
    }

    .tNav{
        display: none;
    }

    .mHam{
        display: flex;
        justify-content: center;
        border-bottom: 0.1rem solid white;
        i{
            margin: 1rem;
            font-size: 2.5rem;
            color: white;
        }
    }

    .cLogin{
        margin: 35% auto;
    }

}

@media screen and (max-width: 628px) {

    .tienda-section{
        width: 100%;
        margin: 0;
    }

    header {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .logo {
        width: 16rem;
        height: auto;
        margin-bottom: 1.3rem;
    }

    .logo2 {
        display: none;
    }

    .eTitulo h1 {
        font-size: 1.8rem;
    }

    .eTexto a {
        font-size: 0.8rem;
    }

    .producto__titulo {
        font-size: 1.2rem;
    }

    .producto__cbtn {
        font-size: 0.5rem;
    }

    iframe#iIndex{
        width: 240px;
        height: 348px;
    } 

    .tNav{
        display: none;
    }

    .mHam{
        display: flex;
        justify-content: center;
        border-bottom: 0.1rem solid white;
        i{
            margin: 1rem;
            font-size: 2.2rem;
            color: white;
        }
    }

    .cLogin{
        margin: 40% auto;
    }

}

@media screen and (max-width: 535px) {

    .tienda-section{
        width: 100%;
        margin: 0;
    }

    header {
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid white;
    }

    .logo2 {
        display: none;
    }

    .eTitulo h1 {
        font-size: 1.6rem;
    }

    .producto__imagen {
        width: 10.75rem;
    }

    .producto__desc {
        width: 10.75rem;
    } 

    .producto__titulo {
        font-size: 1rem;
    }

    .producto__cbtn {
        font-size: 0.7rem;
    }

    .hletra li a {
        font-size: 0.8rem;
    }

    iframe#iIndex{
        width: 220px;
        height: 325px;
    } 

    .tNav{
        display: none;
    }

    .mHam{
        display: flex;
        justify-content: center;
        border-bottom: 0.1rem solid white;
        i{
            margin: 1rem;
            font-size: 2rem;
            color: white;
        }
    }

}

@media screen and (max-width: 480px) {

    .tienda-section{
        width: 100%;
        margin: 0;
    }

    header {
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid white;
    }

    .logo2 {
        display: none;
    }

    .eTitulo{
        justify-content: center;
        h1 {
            font-size: 1.4rem;
        }
    }

    .producto__imagen {
        width: 10rem;
    }

    .producto__desc {
        width: 10rem;
    } 

    .producto__titulo {
        font-size: 0.8rem;
    }

    .producto__cbtn {
        font-size: 0.6rem;
    }

    .producto__precio {
        font-size: 0.6rem;
    }

    .hletra li a {
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
    
    .menu li {
        margin-right: 0.8rem;
    }

    iframe#iIndex{
        width: 140px;
        height: 225px;
    } 

    iframe#mapa{
        width: 334px;
        height: 250px;
    }

    .lfTexto label {
        font-size: 1.2rem;
    }

    .fcTamInp input,
    textarea {
        width: 280px;
        height: 10px;
        padding: 10px;
        margin-top: 5px;
        font-size: 0.8rem;
        box-sizing: unset;
    }
    
    .fcTamaño {
        width: 310px;
    }

    .iCaja {
        border: 1px solid white;
        padding: 0.712rem 0.525rem 0.525rem 0.525rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tNav{
        display: none;
    }

    .mHam{
        display: flex;
        justify-content: center;
        border-bottom: 0.1rem solid white;
        i{
            margin: 1rem;
            font-size: 1.7rem;
            color: white;
        }
    }

}